			<div id="content">
				<div class="container">
					<div class="row">	
						<div class="alert alert-info">
							 <table class="table">
                                    <tr>
                                        <td>Email</td>
                                        <td><input type="text" name="email" id="email" /></td>
                                    </tr>
                                    <tr>
                                        <td>New Password</td>
                                        <td><input type="text" name="passw" id="passw" /></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" align="center"><input type="submit" class="submit" id="update_passw" value="Update"></td>
                                    </tr>
                                    <tr>
                                        <td id="error_display"></td>
                                    </tr>
                                </table>
						</div>	
					</div>	
				</div>
<script type="text/javascript">
    $( document ).ready(function(){
        $( "#update_passw" ).click(function() { 
            var email = $.trim($("#email").val());
            var password = $.trim($("#passw").val());
            if(email == ""){
                alert("Please enter email");
                $("#email").focus();
                return false;
            }
            if(password == ""){
                alert("Please enter password");
                $("#passw").focus();
                return false;
            }
            $.ajax({
                type: 'POST',
                url: './index.php?Controller/updatepassword',
                data: {
                    email : email,
                    password : password
                },
                success: function(response) { alert(response);                          
                    if(response == 0){
                        $("#error_display").html('unable to update password');   
                    }else{
                        window.location.href = "./index.php";
                    }                                           
                }
            });
     
            // to prevent refreshing the whole page page
            return false;
        });
    });
</script>
